.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid {
  border-collapse: collapse;
  border-spacing: 0px;
  background-color: white;
  border: groove 3px white;
}

.grid td {
  padding: 0px;
  margin: 0px;
  border: solid 1px #000;
}

.faceRow {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 12px;
}

#difficultyButtonsRow {
  margin-bottom: 12px;
}

h1 {
  margin: 10px;
}

small {
  margin-top: 7px;
}

a:link, a:visited {
  color: yellow;
}

a:hover {
  color: yellowgreen;
}